<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/public/styles/index.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <title>CalculadoraJs</title>
</head>

<body>
    <div id="content">
        <div id="calculadora">
            <div id="tela">
                <div id="visor">
                    <div id="equacao">1+2</div>
                </div>
            </div>
            <div id="teclado">
                <div id="numeros">
                    <button id="sete">7</button>
                    <button id="oito">8</button>
                    <button id="nove">9</button>
                    <button id="quatro">4</button>
                    <button id="cinco">5</button>
                    <button id="seis">6</button>
                    <button id="um">1</button>
                    <button id="dois">2</button>
                    <button id="tres">3</button>
                    <button id="zero">0</button>
                    <button id="ponto">.</button>
                    <button id="igual">=</button>
                </div>
                <div id="operacoes">
                    <button id="delete">delete</button>
                    <button id="dividir">/</button>
                    <button id="multiplicar">*</button>
                    <button id="menos">-</button>
                    <button id="mais">+</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>